.App-contact{
  background-color: #91c3e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.App-contact h1{
  padding-top: 30px;
}

.linkedin-icon{
  color: #0077b5;
  font-size: 4rem;
  margin: 20px;
}

.gmail-icon{
  color: #d44638;
  font-size: 4rem;
  margin: 20px;
}

.linkedin-icon:hover,
.gmail-icon:hover{
  color: #005983;
  transition: color 0.3s ease;
}

.gmail-icon:hover{
  color: #b23121;
  transition: color 0.3s ease;
}

@media screen and (max-width: 720px){
  .pls, .inq{
    align-items: center;
    text-align: center;
  }
}