.App-experience{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(10px + 2vmin);
    color: white;
}

.experience-page{
    background-color: #91c3e9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.projects-section{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projects, .resume{
    flex: 1;
    text-align: center;
    
}

.buttons-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    
}

/* button inspo taken from https://getcssscan.com/css-buttons-examples (button 33) */
.button{
    background-color: #588fb6;
    border-radius: 100px;
    box-shadow: rgba(80, 182, 255, 0.2) 0 -25px 18px -14px inset,rgba(21, 54, 77, 0.2) 0 1px 2px,rgba(21, 54, 77, 0.2) 0 2px 4px,rgba(21, 54, 77, 0.2) 0 4px 8px,rgba(21, 54, 77, 0.2) 0 8px 16px,rgba(21, 54, 77, 0.2) 0 16px 32px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 500ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    margin-top: 2.5%;
}
  
.button:hover{
    box-shadow: rgba(80, 182, 255, 0.2) 0 -25px 18px -14px inset,rgba(80, 182, 255, 0.2) 0 1px 2px,rgba(80, 182, 255, 0.2) 0 2px 4px,rgba(80, 182, 255, 0.2) 0 4px 8px,rgba(80, 182, 255, 0.2) 0 8px 16px,rgba(80, 182, 255, 0.2) 0 16px 32px;
    transform: scale(1.05);
}

.bxs-file-pdf{
    box-shadow: rgba(80, 182, 255, 0.2) 0 -25px 18px -14px inset,rgba(80, 182, 255, 0.2) 0 1px 2px,rgba(80, 182, 255, 0.2) 0 2px 4px,rgba(80, 182, 255, 0.2) 0 4px 8px,rgba(80, 182, 255, 0.2) 0 8px 16px,rgba(80, 182, 255, 0.2) 0 16px 32px;
    transform: scale(1.05);
    font-size: 500px;
    margin-top: 20px;
    color: rgba(255, 255, 255)
}

.bxs-file-pdf:hover{
    color: rgba(255, 255, 255, 0.685);
    cursor: pointer;
    transition: color 0.3s ease;
}

@media screen and (max-width: 720px){
    .projects-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects, .resume {
        width: 100%; /* Make each section take full width */
        margin-bottom: 20px; /* Add margin to separate the rows */
        
    }
    .bxs-file-pdf{
        box-shadow: rgba(80, 182, 255, 0.2) 0 -25px 18px -14px inset,rgba(80, 182, 255, 0.2) 0 1px 2px,rgba(80, 182, 255, 0.2) 0 2px 4px,rgba(80, 182, 255, 0.2) 0 4px 8px,rgba(80, 182, 255, 0.2) 0 8px 16px,rgba(80, 182, 255, 0.2) 0 16px 32px;
        font-size: 150px;
        margin-top: 20px;
        color: rgba(255, 255, 255)
    }
}