.header{
    background-color: #e1f6fa;
    padding: 30px;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 5;
    display: flex;
    justify-content: center; 
}

.nav-list li{
    margin-left: 10px;
}

.nav-button{
    background-color: #588fb6;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
    cursor: pointer;
    background-size: 200%;
    transition: 0.4s ease-out;
    background-image: linear-gradient(to right, #588fb6 50%, #335268 50%);
}
.nav-button:hover{
    background-position: right;
}

@media screen and (max-width: 720px){
    .header{ /* made color diff to distinguish diff width*/
      background-color: olive;
      color: #e1f6fa;
      padding: 30px;
    }
    .nav-list{ /* got rid of the buttons*/
        display: none;
    }
}

