.header{
    background-color: #e1f6fa;
    padding: 30px;
    position: relative;
    z-index: 2;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 5;
    display: flex;
    justify-content: center; 
}

.nav-list li{
    margin-left: 10px;
}

.nav-button{
    background-color: #588fb6;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
    cursor: pointer;
    background-size: 200%;
    transition: 0.4s ease-out;
    background-image: linear-gradient(to right, #588fb6 50%, #335268 50%);
}
.nav-button:hover{
    background-position: right;
}

.hamburger {
    display: none;
    font-size: 1.4rem;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 3;
}

@media screen and (max-width: 720px) {
    .header{
        background-color: #e1f6fa;
        position: relative;
        z-index: 1;
        border-radius: 5px;
    }
    .nav-list{
        background-color: #e1f6fa;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column; 
        align-items: center;/*horizontally */
        justify-content: center;/* vertically*/
        margin: 0;
        padding: 0;
        z-index: 2;
    }
    .hamburger{
        display: block;
        color: #588fb6;
        position: absolute;
        top: 20px;
        right: 20px; 
        z-index: 3;
    }
    .nav-list.open{
        display: flex;
    }
    .nav-list li {
        margin-bottom: 40px;
    }
    .nav-button{
        padding: 10px 70px;
    }
    .nav-list.open{
        animation-duration: 0.8s;
        animation-delay: 0.2s;
    }
}